@font-face {
	font-family: "Artrevs";
	src: url("assets/artrevs.ttf")
}

h1 {
	position:absolute; 
	top:50%; 
	left:50%; 
	transform: translate(-50%, -50%);
	font-family: "Artrevs"
}

img {
	height:100px; 
	width:100px; 
	margin:10px;
}

img:hover {
	height:100px; 
	width:100px; 
	margin:10px;
	transform: rotate(360deg); 
	transition-duration:1s
}
